.header-mask {
  -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

html {
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

.fade-section {
  opacity: 0;
  transform: translateY(32px);
  transition: opacity 0.7s cubic-bezier(0.4,0,0.2,1), transform 0.7s cubic-bezier(0.4,0,0.2,1);
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 4s linear infinite;
}

.div-animate-shadow {
  animation: pulse-shadow 3s ease-in-out infinite;
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 10px rgba(181, 120, 250, 0.8);
  }
  50% {
    box-shadow: 0 0 30px rgba(126, 34, 206, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(181, 120, 250, 0.8);
  }
}
